.App {
  text-align: center;
  background-image: url(Images/clement-helardot-95YRwf6CNw8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.heading-top {
  padding-top: 3rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.heading-bottom {
  padding-bottom: 3rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.link-style {
  padding-bottom: 3rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.paragraph {
  padding-bottom: 4rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  margin-left: 5rem;
  margin-right: 5rem;
}

.icons {
  flex-direction: row;
  justify-content: space-evenly;
}
