.App {
  text-align: center;
  background-image: url(Images/clement-helardot-95YRwf6CNw8-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: inherit;
}

.heading-top {
  padding-top: 5rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.heading-bottom {
  padding-bottom: 5rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.link-style {
  padding-bottom: 3rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}
