.App {
  text-align: center;
  background-image: url(Images/clement-helardot-95YRwf6CNw8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading-top {
  padding-top: 3rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.heading-bottom {
  padding-bottom: 3rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.link-style {
  padding-bottom: 3rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.paragraph {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.icons {
  flex-direction: row;
  justify-content: space-evenly;
}

.selfie {
  border-radius: 50%;
  border-style: ridge;
  border-color: black;
  max-width: 100%;
  height: auto;
}

.email {
  padding-bottom: 3rem;
  color: mintcream;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  padding-left: 5rem;
  padding-right: 5rem;
}

